<footer id="footer-general">
    <div class="container">
        <div class="container-inner">
            <div>
                <a id="logo" href="/"><img src="images/logo/silicon-logo-dark_theme.svg" alt="silicon logotype"></a>
                <p>Proin ipsum pharetra, senectus eget scelerisque varius pretium platea velit. Lacus, eget eu vitae nullam proin turpis etiam mi sit. Non feugiat feugiat egestas nulla nec. Arcu tempus, eget elementum dolor ullamcorper sodales ultrices eros. </p>
            </div>
            <div class="footer-links-grid">
                <div class="links">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link" href="/">Services</a>
                    <a class="nav-link" href="/">Case Studies</a>
                    <a class="nav-link" href="/">About Us</a>
                    <a class="nav-link" href="/">News & Insights</a>
                </div>
                <div class="links">
                    <a class="nav-link" href="/">Facebook</a>
                    <a class="nav-link" href="/">Linkedin</a>
                    <a class="nav-link" href="/">Twitter</a>
                    <a class="nav-link" href="/">Instagram</a>
                </div>
                <div class="links">
                    <h6>Contact Us</h6>
                    <a href="#">example@gmail.com</a>
                </div>
            </div>
            <div class="subscriber-form-container">
                <h6>Subscribe to our newsletter</h6>
                <form id="subscribe-form" class="subscriber-form">
                    <div class="subscriber-form-input">
                        <input type="email" placeholder="Your Email" id="email" name="email" required>
                        <button class="btn btn-theme no-border-radius" type="submit">Subscribe</button>
                    </div>
                    <div id="errorMessage" style="color: red; display: none;"></div>
                    <div id="successMessage" style="color: green; display: none;"></div>
                </form> 
            </div>
            <div class="links">
                <a class="nav-link" href="/">Terms & Conditions</a>
                <a class="nav-link" href="/">Privacy Policy</a>
            </div>
        </div>
        <p class="footer-disclaimer">2024. All rights reserved.</p>
    </div>
</footer>