<header>
    <div class="container">
        <a id="logo" href="/"><img src="images/logo/silicon-logo-light_theme.svg" alt="silicon logotype"></a>

        <nav id="menu">
            <div class="menu-links">
                <a class="nav-link" href="/">Overview</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">News</a>
                <a class="nav-link" href="/contact">Contact</a>
            </div>
        </nav>

        <div id="theme-mode">
            <div class="theme-switch-wrapper">
                <label for="theme-toggle-switch">Light</label>
                <label class="theme-switch" for="theme-toggle-switch">
                    <input type="checkbox" id="theme-toggle-switch" />
                    <div class="slider round"></div>
                </label>
                <label for="theme-toggle-switch">Dark</label>
            </div>
        </div>

        <a id="btn-account" class="btn btn-theme" href="signin.html"><i class="fa-regular fa-user"></i> Sign in / up</a>
        
        <button id="btn-menu" onclick="toggleMenu()"><i class="fa-regular fa-bars"></i></button>
    </div>
</header>