<section id="appfeatures">
    <div class="container">
        <img id="appfeatures-image" src="images/mobile-appfeatures.svg" alt="phone with hovering credit card">
        <div class="appfeatures-grid">
            <h1>App Features</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin volutpat mollis egestas. Nam luctus facilisis ultrices. Pellentesque volutpat ligula est. Mattis fermentum, at nec lacus.</p>
            <div class="appfeatures-grid-item">
                <img src="images/icons/feature_1.svg" alt="Easy payments">
                <h5>Easy Payments</h5>
                <p>Id mollis consectetur congue egestas egestas suspendisse blandit justo.</p>
            </div>
            <div class="appfeatures-grid-item">
                <img src="images/icons/feature_2.svg" alt="Cost Statistics">
                <h5>Cost Statistics</h5>
                <p>Mattis urna ultricies non amet, purus in auctor non. Odio vulputate ac nibh.</p>
            </div>
            <div class="appfeatures-grid-item">
                <img src="images/icons/feature_3.svg" alt="Regular Cashback">
                <h5>Regular Cashback</h5>
                <p>Sit facilisis dolor arcu, fermentum vestibulum arcu elementum imperdiet eleifend.</p>
            </div>
            <div class="appfeatures-grid-item">
                <img src="images/icons/feature_4.svg" alt="Data Security">
                <h5>Data Security</h5>
                <p>Augue pulvinar justo, fermentum fames aliquam accumsan vestibulum non. </p>
            </div>
            <div class="appfeatures-grid-item">
                <img src="images/icons/feature_5.svg" alt="Support 24/7">
                <h5>Support 24/7</h5>
                <p>A elementum, imperdiet enim, pretium etiam facilisi in aenean quam mauris.</p>
            </div>
            <div class="appfeatures-grid-item">
                <img src="images/icons/feature_6.svg" alt="Top Standards">
                <h5>Top Standards</h5>
                <p>Faucibus cursus maecenas lorem cursus nibh. Sociis sit risus id. Sit facilisis dolor arcu.</p>
            </div>
        </div>
    </div>
</section>