<section id="faqs">
    <div class="container">
        <div>
            <h2>Any questions? Check out the FAQs</h2>
            <p>Still have unanswered questions and need to get in touch?</p>
        </div>
        <div id="faq-card-section">
        </div>
    </div>
</section>