<section id="features">
    <div class="container">
       <div class="features-grid-item">
        <div class="features-transfers">
            <h2>Make your money transfer simple and clear</h2>
            <ul>
                <li>
                    <a href="#">Banking transactions are free for you</a>
                </li>
                <li>
                    <a href="#">No monthly cash commission</a>
                </li>
                <li>
                    <a href="#">Manage payments and transactions online</a>
                </li>
            </ul>
            <a href="#" class="btn btn-theme">Learn more <i class="fa-regular fa-arrow"></i></a>    
        </div>
       </div>
       <div class="features-grid-item">
        <img src="images/features/transfers.png" alt="">
       </div>
       <div class="features-grid-item">
            <img src="images/features/international-bank-details.png" alt="">
       </div>
       <div class="features-grid-item">
        <div class="features-international-bank-details">
            <h2>Receive payment from international bank details</h2>
            <div>
                <div>
                    Manage your payments online. Mollis congue egestas egestas fermentum fames.
                </div>
                <div>
                    A elementur and imperdiet enim, pretium etiam facilisi aenean quam mauris.
                </div>
            </div>
            <a href="#" class="btn btn-theme">Learn more <i class="fa-regular fa-arrow"></i></a>
        </div>
       </div>
    </div>
</section>