<footer>
    <div class="container">
        <div class="content">
            <a id="logo" href="/"><img src="images/logo/silicon-logo-light_theme.svg" alt="silicon logotype"></a>
            <div class="menu-links">
                <a class="nav-link" href="/">Overview</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">News</a>
                <a class="nav-link" href="/contact">Contact</a>
                <a class="nav-link" href="#">Account</a>
            </div>
            <div class="download-app">
                <a class="appstore" href="#"><img src="images/appstore.svg" alt="Download on Appstore"></a>
                <a class="googleplay" href="#"><img src="images/googleplay.svg" alt="Download on Google Play"></a>    
            </div>
            <div class="social-media-links">
                <a class="social-media-link" href="#"><img src="images/icons/bxl-facebook-square.svg"></img></a>
                <a class="social-media-link" href="#"><img src="images/icons/bxl-twitter.svg"></img></a>
                <a class="social-media-link" href="#"><img src="images/icons/bxl-instagram-alt.svg"></img></a>
                <a class="social-media-link" href="#"><img src="images/icons/bxl-youtube.svg"></img></a>
            </div>
            <p class="footer-disclaimer">
                2024. All rights reserved. Pulvinar urna condimentum amet tempor, ornare integer. Lorem odio justo
                malesuada suspendisse viverra aliquet quisque turpis non. Feugiat in odio non nunc ornare
                consectetur.
            </p>
        </div>
    </div>
</footer>