<section id="slider">
    <div class="container">
        <h1>How Does It Work?</h1>
        <div class="carousel">
            <a href="/">Placeholder</a>
            <img id="carousel-image" src="images/mobile-howdoesitwork_1.svg" alt="phone showing budget dashboard">
            <img id="carousel-image" src="images/mobile-howdoesitwork_2.svg" alt="phone showing credit card information and transactions">
            <img id="carousel-image" src="images/mobile-howdoesitwork_3.svg" alt="phone showing current balance and contact transfer options">
            <a href="/">Placeholder</a>
        </div>
        <div class="transaction-history">
            <h4>Step 2. Latest transaction history</h4>
            <p>Enim, et amet praesent pharetra. Mi non ante hendrerit amet sed. Arcu sociis tristique quisque hac in consectetur condimentum. </p>
        </div>
    </div>
</section>
