<section id="subscribe">
    <div class="container">
        <div class="subscribe-container-inner">
            <div class="subscribe-text-container">
                <img src="images/icons/notification.svg" alt="Notification">
                <h5>Subscribe to our newsletter to stay informed about latest updates</h5>
            </div>
            <div class="subscriber-form-container">
                <form id="subscribe-form" class="subscriber-form">
                    <div class="subscriber-form-input">
                        <input type="email" placeholder="Your Email" id="email" name="email" required>
                        <button class="btn btn-theme no-border-radius" type="submit">Subscribe</button>
                    </div>
                    <div id="errorMessage" style="color: red; display: none;"></div>
                    <div id="successMessage" style="color: green; display: none;"></div>
                </form> 
            </div>
        </div>
    </div>
</section>